<p #miParrafo>Deep Purple</p>
<div #miDiv>Los divs no están creados para contener textos</div>
<input #miInput type="text">

<ul #miLista></ul>

<div #contendor>

    <p #otroParrafo>Esto es un párrafo</p>
</div>


<button (click) ="anadirClases()">Añadir clases</button>

<button (click) ="sustituirClase()">Sustituir clase</button>

<button (click) ="eliminarParrafo()">Eliminar párrafo</button>

<button (click) ="quitarClases()">Quitar clases</button>

<button (click) ="crearElementoDom()">Añadir elemento a la lista</button>

<button (click) ="anadirBordeNegroIzquierda()">Borde negro a la lista</button>

<button (click) ="ponerFondoVerde(miInput)">Fondo verde</button>