.fondo-rojo{
    background-color: red;
}

.borde-bonito{
    border-radius: 10px;
}

.crear-padding{
    padding: 20px;
}

.fondo-amarillo{

    background-color: gold;
}

.letra-blanca{

    color:white;
}