<article class="ficha-contenedor">


    <div class="imagen-contenedor">

        <img src="img/g1.jpg" alt="rellenarlo correctamente">

    </div>


    <div class="datos-contenedor">

        <div>
            <div>
                <span class="titular-fabricante">Gibson</span>
                <span class="modelo">Les Paul Dinamic</span>
            </div>

            <div class="contenedor-likes">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <span class="numero-likes">4</span>
            </div>

            <ul class="caracteristicas-principales">
                <li>descripcion 1</li>
                <li>descripcion 2</li>
                <li>descripcion 3</li>
            </ul>


        </div>

        <div class="etiqueta-stock">

            <p>En stock</p>
        </div>


    </div>


    <div class="iconos-precio-contenedor">

        <p class="precio">
            2000
        </p>

        <div class="iconos">

            <i class="fa-solid fa-paste"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-cart-shopping"></i>

        </div>


    </div>



</article>
