.fondo-azul{
    background-color: blue;
}

.fondo-verde{
    background-color: green;
}

.fondo-rojo{

    background-color: red;
}

.letra-blanca{

    color:white;
}

.padding10{

    padding: 10px;
}